@model WebShop.Web.Models.CategoryViewModel
@{
    ViewData["Title"] = "Kategorije";
}

<div class="container-fluid py-3 px-0">
    <div class="fade container-fluid border-bottom pl-5 pl-md-3 collapse" id="proizvodi">
        <div class="row pb-3">
            @for (int i = 0; i < Model.listOfCategories.Count; i += 4)
            {
                <div class="col-sm">
                    @for (int j = i; (j - i < 4) && (j < Model.listOfCategories.Count); j++)
                    {
                        <a asp-controller="Products" asp-action="ViewProducts" asp-route-id="@(Model.listOfCategories[j].CategoryID)"><p class="h6 text-primary"><i class="fa fa-caret-right"></i> @Model.listOfCategories[j].CategoryName</p></a>
                    }
                </div>
            }
        </div>
    </div>
</div>

<form class="form-inline pb-3 m-3 m-md-0" action="index.html" method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <p class="input-group-text text-secondary"><i class="fa fa-search"></i></p>
        </div>
        <input type="text" name="" value="" placeholder="Pretraga:" class="form-control">
        <div class="input-group-append">
            <button type="button" name="button" class="btn btn-outline-primary">Traži</button>
        </div>
    </div>
</form>

<breadcrumb></breadcrumb>

<div class="container-fluid">

    <p class="text-dark text-uppercase h3 mb-5"><i class="fa fa-th-large"></i> Kategorije</p>


    <div class="row">
        @for (int i = 0; i < Model.listOfCategories.Count; i++)
        {
            <div class="col-sm-4 col-md-3 mb-4">
                <img src="~/img/categories/@(Model.listOfCategories[i].Image)" alt="" class="img-fluid">
                <p class="h4 mb-1 mt-3"><a asp-controller="Products" asp-action="ViewProducts" asp-route-id="@(Model.listOfCategories[i].CategoryID)" style="text-decoration: none;" class="text-dark"><i class="@(Model.listOfCategories[i].Icon)"></i> @(Model.listOfCategories[i].CategoryName)</a></p>
                <div class="borderDiv bg-primary mb-2"></div>
                <!--<a href="#" class="d-block pl-3"><i class="fa fa-angle-right"></i> Televizori</a>-->
            </div>
        }
    </div>
</div>


@if (Model.listOfPinnedProducts.discountProducts.Count > 0)
{
    @await Html.PartialAsync("~/Views/Home/_indexDiscountSlider.cshtml")
}

